<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-03-22T10:17:41Z</date>
	<key>WorkspacePath</key>
	<string>/Users/letong/Desktop/tongle/Objective-c-Go/Objective-c-Go.xcodeproj</string>
</dict>
</plist>
